@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  main {
    width: 100%;
  }

  .iconeViolet {
    color: #9356dc;
  }

  .iconeGris {
    color: dimgrey;
  }

  .coeur2 {
    display: none;
  }

  /****************************************************/
  /*                      SPINNER                     */
  /****************************************************/

  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }

  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #99e2d0, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }

  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0px;
    background-color: rgb(8, 0, 0);
    animation: clock 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    z-index: 3;
  }

  @keyframes clock {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  /****************************************************/
  /*                       HEADER                     */
  /****************************************************/

  header {
    width: 100%;
    height: 4em;
    box-shadow: -1px 6px 10px #737373, 0px 0px 0px #737373;
  }

  header a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50%;
  }

  .aligne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-color: #e6e0e0;
    border-radius: 0;
    border: 0;
  }

  .localisation:hover {
    cursor: pointer;
  }

  .separation {
    gap: 15px;
  }

  /****************************************************/
  /*                    RESERVATION                   */
  /****************************************************/

  .texteReservez {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 12px;
  }

  .texteReservez p {
    font-size: 10px;
  }

  .texteBouton {
    border-radius: 30px;
    border: none;
    width: 220px;
    height: 50px;
    margin: 20px 0 20px 0;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    box-shadow: 3px 8px 8px #bfbfbf;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  .texteBouton:hover {
    cursor: pointer;
  }

  /****************************************************/
  /*                  FONCTIONNEMENT                  */
  /****************************************************/

  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .titreFonction {
    display: flex;
    justify-content: center;
    width: 38%;
    font-size: 16px;
  }

  .groupeCarte {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    gap: 5px;
  }

  .carte {
    display: flex;
    align-items: center;
    width: 350px;
    height: 70px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 3px 8px 8px #bfbfbf;
  }

  .carte:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s;
    transform: scale(1.02);
    background-color: #e4d5f6;
  }

  .carte:hover i {
    color: #9356dc;
  }

  .carte p {
    margin-left: 20px;
    font-weight: 700;
  }

  .iconeCarte {
    margin-left: 20px;
    color: #7d7d7d;
  }

  .numero {
    background-color: #9356dc;
    border-radius: 100%;
    min-height: 1.3rem;
    min-width: 1.3rem;
    color: #fff;
    display: flex;
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
  }

  /****************************************************/
  /*                    RESTAURANTS                   */
  /****************************************************/

  .restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #f2f2f2;
  }

  .titre_restaurant {
    margin-left: 30px;
  }

  .colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 60px;
  }

  .description {
    width: 320px;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 3px 8px 8px #bfbfbf;
  }

  .description .images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11em;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .description h3 {
    display: flex;
    justify-content: space-between;
    margin-left: 0.8em;
    margin-top: 0.7em;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 800;
  }

  .description p {
    margin-left: 0.8em;
    margin-top: 0.3em;
    font-size: 17px;
  }

  .description a {
    color: #000;
    text-decoration: none;
  }

  .description:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 1s;
  }

  .fa-heart {
    color: #fff;
    background-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
  }

  .fa-heart::before {
    content: "\f004";
    transition: 3s;
  }

  .fa-heart:hover::before {
    cursor: pointer;
    -webkit-text-stroke-width: 0px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#cb2ad3),
      to(#333)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nouveau {
    position: absolute;
    margin-left: 210px;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #99e2d0;
  }

  .nouveau p {
    font-size: 15px;
    color: green;
    margin-top: 8px;
    margin-left: 20px;
  }

  /****************************************************/
  /*                      FOOTER                      */
  /****************************************************/

  footer {
    display: flex;
    flex-direction: column;
    display: inline;
    padding: 0 40px;
    background-color: #353535;
    color: #fff;
    height: 30vh;
    width: 80%;
  }

  .footer_titre {
    font-family: "Shrikhand", cursive;
    color: white;
    font-size: 10px;
    padding: 10px 15px 0 0px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .footer_block {
    display: flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 20px 30px;
  }

  .footer_block_ligne {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
    gap: 10px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
}
